body {
  /* background-image: url(../assets/bg-image1.jpg);
  background-size: cover; */
  /* border-radius: 18px; */
  /* background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: color; */
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(#30142b, #a12727);
  color: #a12727;
}

/* form style start */
.table {
  /* background-image: url(../assets/bg-table.jpg);
  background-size: cover; */
  /* align-content: center; */
  /* display: inline-flex; */
  margin: 0 0 0 85px;
}
.table > tr {
  color: rgb(rgb(255, 255, 255), green, blue);
}
/* form style end */
